<html>
    <head>
        <title>Movies Premiere Schedule</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Generes</a></h1>
        </div>

        <div>
            <h2><a href="sci-fi">Ciència ficció</a></h2> </div>

        <div>
            <h2><a href="adventures">Aventures</a></h2>
         </div>

         <div>
            <h2><a href="action">Acció</a></h2>
         </div>

         <div>
            <h2><a href="drama">Drama</a></h2>
         </div>

         <div>
            <h2><a href="comedy">Comèdia</a></h2>
         </div>

         <div>
            <h2><a href="romance">Romantiques</a></h2>
         </div>
    </body>
</html>